body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.desktop, .mobile {
    display: none;
}

@media (min-width: 766px){
    .desktop {
        display:inline-block;
    }
}

@media (max-width: 766px) {
    .mobile {
        display: inline-block;
    }
}

.dayz-logo-small {
    height: 50px;
}

.navbar-nav {
    padding-left: 1em;
}

a {
    text-decoration: none;
    font-size: larger;
}


p {
    font-size: 20px;
}

h1 {
    font-size: 15px;
}

.twitter-timeline {
    display: flex;
    flex-direction: column;
    float: right;
}

.card1, .card2, .card3, .card4 {
    margin-top: 2em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
