{% extends 'base.html' %}

{% block content %}
<h6>
<br>
<p>FOLLOW/CONTACT DAYZ</p>
<br>
<a href="https://www.facebook.com/DayZ/" class="fa fa-facebook" target="_blank"></a>
<a href="https://twitter.com/DayZ?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter" target="_blank"></a>
<a href="https://www.youtube.com/channel/UCtfKuU7DNZgOSpRn1ksB6jw" class="fa fa-youtube" target="_blank"></a>
</h6>
<p class="thanks-msg">This website was built as a project for my Code Nation course, thanks for visiting!</p>
<footer>Contact me: jamesneild45@gmail.com</footer>
{% endblock %}