{% extends 'base.html' %}

{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="t-card">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/994VEkW19CI"></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="t-card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="t-card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="t-card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="t-card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}