{% extends 'base.html' %}

{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="t-card">
        <iframe src="https://www.youtube.com/embed/994VEkW19CI"></iframe>
        <div class="card-body">
          <h5 class="card-title">DayZ 1.18 Update Teaser</h5>
          <br>
          <p class="t-card-text">The time has come for update 1.18 to be released to a stable branch. We’d like to thank everyone who joined the experimental servers and helped us by playing and providing their feedback.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe src="https://www.youtube.com/embed/m9m2lH295l0"></iframe>
        <div class="card-body">
          <h5 class="card-title">All DayZ 1.18 Changes | New Items, Craftables & Updated Mechanics</h5>
          <br>
          <p class="t-card-text">DayZ 1.18 has a lot of changes in this update that are not in the patch notes for what's new in 1.18.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe src="https://www.youtube.com/embed/PdedScYi5yE"></iframe>
        <div class="card-body">
          <h5 class="card-title">Mask of the Dead - DayZ</h5>
          <br>
          <p class="t-card-text">From the livestream @twitch.tv/Smoke - on DayOne DayZ Servers</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="t-card">
        <iframe src="https://www.youtube.com/embed/eL3IWt2gbg0"></iframe>
        <div class="card-body">
          <h5 class="card-title">I Got The RAREST SNIPER On The Server - DayZ</h5>
          <br>
          <p class="t-card-text">I got my hands on the SV98!</p>
          <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}